.border-animate { 
    display:inline-block;
    margin:0;
    /* text-transform:uppercase;  */
}
.border-animate:after {
  display:block;
  content: '';
  border-bottom: solid 3px rgb(22, 19, 19);  
  transform: scaleX(0);  
  transition: transform 250ms ease-in-out;
}
.border-animate:after{ transform-origin: 100% 50%; }
/* h1.fromRight:after{  transform-origin:   0% 50%; } */
.border-animate:hover:after{ transform: scaleX(1); transform-origin:   0% 50%; }
/* h1.fromRight:hover:after{ transform: scaleX(1); transform-origin: 100% 50%; } */